@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* 
=================
  GENERAL STYLE
=================
*/

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Helvetica", sans-serif;
  color: #fafafa;
  transition: 0.3s;
}

h1 {
  margin: 1rem 0;
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

body {
  background-color: #1a1a1a;
  /* min-width: 400px; */
}

main {
  width: 90%;
  text-align: center;
  margin: auto;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.button {
  display: inline-block;
  outline: none;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #fafafa;
  padding: 10px 20px;
  width: 60%;
  min-width: 200px;
  max-width: 600px;
  margin: 10px 2rem;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #a1a1a1;
  background-color: #1a1a1a;
  cursor: pointer;
}

.button:hover,
.button:active,
.button:focus {
  background-color: #2a2a2a;
  border: 1px solid #7e57c2;
  color: #7e57c2;
  transition: 0.6s;
}

.button:disabled {
  border: 1px solid #a1a1a1;
  color: #a1a1a1;
}

.button:disabled:hover {
  background-color: #1a1a1a;
}

.row {
  display: flex;
  align-items: center;
}

.column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer {
  text-align: right;
  padding: 3rem;
  color: #444;
  font-size: 0.9rem;
}

.nav {
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px 20px;
}

.navItem {
  min-width: 30px;
  max-width: 100px;
  padding: 10px;
  margin: 5px;
  font-size: 0.7rem;
  border: 1px solid transparent;
}

.navItem:hover,
.navItem:active,
.navItem:focus {
  border: 1px solid #a1a1a1;
}

.invalid {
  border: 1px solid #f00;
  background-color: #f5b5b5;
}

.secondary {
  color: #7e57c2;
  border: 1px solid #7e57c2;
}

.secondary:hover,
.secondary:active {
  color: #7e57c2;
  border: 1px solid #7e57c2;
}

.float {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 400px;
  padding: 10px;
  z-index: 1000;
  background-color: #7e57c2;
  overflow: hidden;
}

.float::after {
  content: "";
  width: 30px;
  height: 1000px;
  background-color: #ffffff40;
  transform: rotateZ(-20deg);
  position: absolute;
  left: -40px;
  top: -100px;
  animation: message 3s ease-in-out 2s infinite normal forwards;
}

.noDisplay {
  display: none;
}

@keyframes message {
  0% {
    left: -40px;
  }
  30% {
    left: 600px;
  }
  100% {
    left: 600px;
  }
}
.error {
  background-color: #b00020;
}

/* 
=================
    INDEX
=================
*/

.menuItem {
  width: 60%;
  margin: 10px auto;
  max-width: 400px;
  box-sizing: border-box;
}

/* 
=================
    FORMS
=================
*/

form {
  width: 60%;
  min-width: 400px;
  margin: 20px auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="submit"],
input[type="button"] {
  display: inline-block;
  outline: none;
  text-decoration: none;
  padding: 10px 20px;
  width: 60%;
  margin: 10px auto;
  text-align: center;
  border-radius: 5px;
}
input[type="text"],
input[type="password"],
input[type="email"] {
  color: #000;
  border: 1px solid #a1a1a1;
}

form input[type="submit"]:focus {
  background-color: #2a2a2a;
}

textarea:focus,
textarea:active,
form input:focus,
form input:active {
  border: 1px solid #7e57c2;
}

textarea::placeholder,
form input::placeholder {
  color: #444;
  font-size: 1rem;
}

.section_form {
  width: 60%;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 500px) {
  form,
  .section_form {
    /* width: 400px; */
    min-width: 300px;
    padding: 0;
  }
}

/* 
=================
    CREATE
=================
*/

#imgViewer {
  /* height: 100%; */
  min-width: 300px;
  position: relative;
  overflow: hidden;
}

#imgViewer .base {
  width: 100%;
}

#imgViewer > .snippet {
  width: 40%;
  position: absolute;
  top: 0;
  left: 0;
}

.createView {
  display: flex;
}

.editor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  min-width: 430px;
}

.controls {
  flex-direction: row;
  justify-content: center;
}

.controls form {
  width: 100%;
  min-width: auto;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.controls_button {
  width: 230px !important;
  border: 1px solid #4527a0;
  margin: 5px !important;
  box-sizing: border-box;
}

.controls_button:hover,
.controls_button:active,
.controls_button:focus {
  background-color: #444;
  color: #fff;
}

.snippets {
  max-height: 250px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
  margin-top: 20px;
}

.imgWrapper {
  width: 100px;
  min-width: 100px;
  height: 100px;
  background-image: linear-gradient(to bottom right, #4527a0, #2e1a69);
  border-radius: 5px;
  box-sizing: border-box;
  margin: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.sidebar .info {
  display: none;
}

.imgWrapper img {
  width: 100%;
}

.button_file {
  display: block;
  color: white;
  background-color: #1a1a1a;
  border: 1px solid #4527a0;
  border-radius: 5px;
}

.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.input-file + .file_label {
  margin: 5px;
  width: 60%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

.controls__element {
  width: 230px;
  margin: 30px auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.controls__element > * {
  margin-left: 10px;
}

@media screen and (max-width: 750px) {
  .createView {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: auto;
  }

  .controls_button {
    display: block;
    width: 230px;
  }

  .snippets {
    min-width: 250px;
  }

  .sidebar {
    width: 100%;
    text-align: center;
  }

  .editor {
    width: 100%;
    min-width: 300px;
  }
}

/* 
=================
    GALLERY
=================
*/

.gallery {
  width: 100%;
  min-height: 300px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sidebar__gallery {
  position: fixed;
  width: 400px;
  right: -500px;
  background-color: #1a1a1a;
  padding: 20px;
  transition: 0.3s;
  border: 1px solid #4527a0;
  border-radius: 5px;
}

.sidebar {
  width: 35%;
}

.sidebar__switcher {
  min-width: 0;
  writing-mode: vertical-lr;
  text-orientation: upright;
  width: 20px;
  padding: 30px 10px;
  border: 1px solid #4527a0;
  cursor: pointer;
  border-right: none;
  border-radius: 5px 0 0 5px;
  position: fixed;
  right: 0;
  top: 40%;
}

.sidebar__switcher:hover,
.sidebar__switcher:active,
.sidebar__switcher:focus,
.sidebar__closer:hover,
.sidebar__closer:active,
.sidebar__closer:focus {
  background-color: #444;
}

.sidebar__closer {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar__closer svg {
  width: 60%;
}

.switcher__icon {
  display: none;
}

.author-name {
  text-decoration: none;
}

.author-name:hover {
  color: #7e57c2;
}

.gallery_button {
  min-width: 40px;
  height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #a1a1a1;
  background-color: #1a1a1a;
  margin: 10px;
  padding: 10px;
  position: relative;
  cursor: pointer;
}

.gallery_controls {
  display: flex;
  justify-content: center;
  align-self: center;
}

.gallery_button:hover {
  border-color: #7e57c2;
}

.gallery_button:hover path {
  fill: #7e57c2;
}

.gallery_button:disabled {
  border-color: #a1a1a1;
}

.gallery_button:disabled path {
  fill: #a1a1a1;
}

.gallery_button svg {
  position: absolute;
  left: 0;
  top: 0;
  margin: 10px;
}

.gallery_button__forward:hover > svg {
  animation: arrow_forward 0.7s ease-in-out infinite normal forwards;
}

.gallery_button__backward:hover > svg {
  animation: arrow_backward 0.7s ease-in-out infinite normal forwards;
}

.gallery_button__backward:disabled > svg,
.gallery_button__forward:disabled > svg {
  animation: none;
}

@keyframes arrow_forward {
  0% {
    left: 0px;
  }
  10% {
    left: 4px;
  }
  30% {
    left: 5px;
  }
  80% {
    left: 0px;
  }
}

@keyframes arrow_backward {
  0% {
    left: 0px;
  }
  10% {
    left: -4px;
  }
  30% {
    left: -5px;
  }
  80% {
    left: 0px;
  }
}

.gallery .imgWrapper {
  background-image: none;
  width: 30%;
  height: 100%;
}

.gallery .imgWrapper img {
  width: 100%;
  height: auto;
}

.imgWrapper .info {
  position: absolute;
  bottom: -30px;
  left: 0;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  transition: 0.3s;
  font-size: 0.7rem;
  padding: 0 2px;
  background-image: linear-gradient(#00000000, #00000044);
}

.imgWrapper:hover .info {
  bottom: 0px;
  transition: 0.3s;
}

.author {
  font-size: inherit;
  margin-left: 5px;
}

.like {
  position: absolute;
  right: 10px;
  bottom: 5px;
  background: url("../assets/png/heart_empty.png") right bottom no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  z-index: 10;
}

.like:hover {
  background-image: url("../assets/png/heart_full.png");
  opacity: 50%;
}

.private {
  position: absolute;
  right: 40px;
  bottom: 5px;
  width: 20px;
  height: 20px;
  z-index: 10;
}

.remove {
  position: absolute;
  right: 10px;
  bottom: 5px;
  width: 20px;
  height: 20px;
  z-index: 10;
}

.private:hover path,
.remove:hover path {
  opacity: 70%;
  fill: #7e57c2;
}

@media screen and (max-width: 780px) {
  .gallery {
    flex-direction: column;
    width: 100%;
  }

  .gallery .imgWrapper {
    width: 90%;
  }

  .switcher__icon {
    display: block;
  }
  /* 
  .sidebar__switcher {
    min-width: 0;
    width: 30px;
    padding: 12px;
    border: 1px solid #fff;
    cursor: pointer;
    border-radius: 50%;
    position: fixed;
    top: unset;
    right: 5%;
    bottom: 5%;
    height: 30px;
    margin: 2px;
    background-color: #1a1a1a;
  } */

  .sidebar__switcher {
    right: -100px;
    transition: 0.3s;
  }
}

/* 
=================
    LIGHTBOX
=================
*/

.lightbox {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  background-color: #000000aa;
  z-index: 20;
  cursor: pointer;
}

.lightbox_close {
  position: absolute;
  right: 40px;
  top: 40px;
  opacity: 0;
  width: 80px;
  height: 80px;
}

.lightbox_close svg {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
}

.lightbox_close:hover {
  opacity: 100;
  cursor: pointer;
}

.lightbox_wrapper {
  width: 80%;
  height: 70%;
  margin: 15vh auto;
  background-color: #1a1a1a;
  border: 1px solid #7e57c2;
  border-radius: 5px;
  display: flex;
}

.lightbox_main {
  flex: 3 1 60%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 30;
  cursor: auto;
}

.lightbox_main img {
  max-height: 80%;
  max-width: 90%;
}

.lightbox_aside {
  flex: 2 1 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #2a2a2a;
  cursor: auto;
}

.lightbox_info {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px auto;
}

.lightbox_info__author {
  margin-right: 10px;
}

.lightbox_info__likes {
  display: flex;
  width: 40px;
  justify-content: space-evenly;
  align-items: flex-end;
}

.lightbox_info__likes span {
  margin-left: 5px;
}

.lightbox_comments {
  width: 90%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 4 1 0px;
  overflow: auto;
}

.lightbox_like {
  background: url("../assets/png/heart_empty.png") right bottom no-repeat;
  background-size: 20px 20px;
  width: 20px;
  height: 20px;
  z-index: 40;
  display: inline-block;
}

.lightbox_like:hover {
  background-image: url("../assets/png/heart_full.png");
  opacity: 50%;
}

.liked {
  background-image: url("../assets/png/heart_full.png");
}

.liked:hover {
  opacity: 70%;
}

.lightbox_comment {
  padding: 5px;
  border-bottom: 1px solid #a1a1a1;
  text-align: left;
}

.lightbox_comment__author {
  color: #7e57c2;
  font-weight: bold;
  margin-bottom: 5px;
}

.lightbox_comment__author_profile {
  text-decoration: none;
  cursor: pointer;
}

.lightbox_comment:after {
  content: "";
  background-color: #a1a1a1;
}

.lightbox_comments__controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  width: 90%;
  margin: 10px auto;
}

.lightbox_comments__input {
  width: 100%;
  min-height: 40px;
  box-sizing: border-box;
  text-align: left;
  resize: none;
  outline: none;
  text-decoration: none;
  color: #000;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #a1a1a1;
}

.lightbox_comments__submit {
  max-width: 200px;
  min-width: 100px;
  padding: 5px 10px;
  font-size: 0.8rem;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .nav {
    padding: 0;
  }

  .lightbox_wrapper {
    flex-direction: column;
    height: 90%;
    margin: 5vh auto;
    z-index: 30;
  }

  .lightbox_close svg {
    opacity: 100;
  }

  .lightbox_aside {
    width: 100%;
    flex-basis: 1;
  }

  .lightbox_main {
    flex-basis: 0;
    width: 100%;
    max-height: 100%;
  }

  .lightbox_main img {
    max-width: 90%;
    max-height: 90%;
  }

  .lightbox_info {
    margin: 5px;
  }
}

/* 
=================
    PROFILE
=================
*/

.profile {
  display: flex;
  justify-content: center;
}

.profile__aside {
  flex-grow: 1;
}

.profile__gallery {
  flex-grow: 3;
}

.fullImage .lightbox_wrapper {
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .profile {
    flex-direction: column;
  }
}

canvas {
  position: absolute;
  left: -1000px;
  top: -1000px;
  width: 480px;
  height: 320px;
}

video {
  width: 100%;
}
