/* @import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap"); */

/* general style */

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Helvetica", sans-serif;
  color: #fafafa;
  transition: 0.3s;
}

h1 {
  margin-top: 2rem;
  text-align: center;
}

.uppercase {
  text-transform: uppercase;
}

body {
  background-color: #1a1a1a;
  min-width: 400px;
}

main {
  padding-top: 2rem;
  width: 90%;
  text-align: center;
  margin: auto;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.button {
  display: inline-block;
  outline: none;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #fafafa;
  padding: 10px 20px;
  width: 60%;
  min-width: 200px;
  max-width: 600px;
  margin: 10px 2rem;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #a1a1a1;
  background-color: #1a1a1a;
}

.button:hover,
.button:active {
  background-color: #2a2a2a;
  border: 1px solid #6d6d6d;
  color: #7e57c2;
  transition: 0.6s;
}

.row {
  display: flex;
  align-items: center;
}

.column {
  display: flex;
  align-items: center;
  flex-direction: column;
}

footer {
  text-align: right;
  padding: 3rem;
  color: #444;
  font-size: 0.9rem;
}

.nav {
  flex-direction: row;
  justify-content: flex-end;
  padding: 10px 20px;
}

.navItem {
  width: 50px;
  min-width: 30px;
  max-width: 100px;
  padding: 10px;
  margin: 5px;
  font-size: 0.7rem;
  border: 1px solid transparent;
}

.navItem:hover,
.navItem:active {
  border: 1px solid #a1a1a1;
}

.invalid {
  border: 1px solid #f00;
  background-color: #f5b5b5;
}

.accent {
  color: #fb8a00;
  border: 1px solid #fb8a00;
}

.accent:hover,
.accent:active {
  color: #fb8a00;
  border: 1px solid #fb8a00;
}

.secondary {
  color: #7e57c2;
  border: 1px solid #7e57c2;
}

.secondary:hover,
.secondary:active {
  color: #7e57c2;
  border: 1px solid #7e57c2;
}

.float {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 400px;
  padding: 10px;
  z-index: 1000;
  background-color: #7e57c2;
  overflow: hidden;
}

.float::after {
  content: "";
  width: 30px;
  height: 1000px;
  background-color: #ffffff40;
  transform: rotateZ(-20deg);
  position: absolute;
  left: -40px;
  top: -100px;
  animation: message 3s ease-in-out 2s infinite normal forwards;
}

@keyframes message {
  0% {
    left: -40px;
  }
  30% {
    left: 600px;
  }
  100% {
    left: 600px;
  }
}
.error {
  background-color: #b00020;
}

/* index */

.menuItem {
  width: 60%;
  margin: 10px auto;
}

/* forms */

form {
  width: 60%;
  min-width: 400px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

form input {
  display: inline-block;
  outline: none;
  text-decoration: none;
  color: #000;
  padding: 10px 20px;
  width: 60%;
  margin: 10px auto;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #a1a1a1;
}

form input[type="submit"]:focus {
  background-color: #2a2a2a;
}

form input:focus,
form input:active {
  border: 1px solid #fb8a00;
}

form input::placeholder {
  color: #444;
  font-size: 1rem;
}

.section_form {
  width: 60%;
  margin: 1rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 500px) {
  form,
  .section_form {
    width: 400px;
    padding: 0;
  }
}

/* create */

#imgViewer {
  height: 100%;
  min-width: 300px;
  position: relative;
  overflow: hidden;
}

#imgViewer .base {
  width: 100%;
}

#imgViewer .snippet {
  width: 40%;
  position: absolute;
  top: 0;
  left: 0;
}

.createView {
  display: flex;
}

.editor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 65%;
  margin: 10px;
  min-width: 430px;
}

.controls {
  flex-direction: row;
  justify-content: center;
}

.controls_button {
  min-width: 100px;
  width: 240px;
  padding: 5px;
  color: white;
  background-color: #1a1a1a;
  border: 1px solid #4527a0;
  border-radius: 5px;
  margin: 5px;
  text-transform: uppercase;
  outline: none;
}

.controls_button:hover,
.controls_button:active {
  background-color: #444;
  transition: 0.3s;
}

.gallery {
  min-width: 230px;
  width: 100%;
  padding: 10px;
  min-height: 300px;
  max-height: 500px;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
}

aside {
  width: 35%;
}

.snippets {
  /* width: 470px; */
  max-height: 250px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow: auto;
}

.imgWrapper {
  width: 100px;
  min-width: 100px;
  height: 100px;
  background-image: linear-gradient(to bottom right, #4527a0, #2e1a69);
  /* border: 1px solid darkgray; */
  border-radius: 5px;
  box-sizing: border-box;
  margin: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgWrapper img {
  width: 100%;
}
/* .imgWrapper:after {
  content: "PNG";
  position: absolute;
  top: 20px;
  left: 30px;
} */

.button_file {
  /* padding: 10px 20px; */
  display: block;
  color: white;
  background-color: #1a1a1a;
  border: 1px solid #4527a0;
  border-radius: 5px;
}
.input-file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.input-file + .file_label {
  margin: 5px;
  width: 230px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.file_name {
  font-size: 0.8rem;
}
.icon {
  width: 16px;
  height: 16px;
  margin-right: 5px;
}

@media screen and (max-width: 700px) {
  .createView {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
  }

  .controls_button {
    display: block;
    width: 230px;
  }

  .snippets {
    width: 250px;
    min-width: 250px;
  }

  .preview {
    width: 100%;
    text-align: center;
  }
}

label {
  color: #fafafa;
}

select {
  width: 100%;
  padding: 10px 20px;
  margin: 10px 0;
  display: inline-block;
  border-radius: 5px;
}

select,
select > * {
  color: #1a1a1a;
  font-weight: 600;
}
